* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.container{
    padding: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding: 1rem;
}

/* utilities */
.ta-center{
    text-align: center;
}

/* flex */
.d-flex {
    display: flex;
}

.jc-end{
    justify-content: end;
}

.jc-center{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

/**************** Desktop First ****************/

/********* #region page_top *********/
/* #region side_bar */
#side_bar {
    width: 230px;
    height: calc(100vh - 90px);
}

.logo_desktop {
    width: 70%;
}

/* #endregion side_bar */

/* #region main */
main {
    height: calc(100vh - 90px);
    width: calc(100vw - 230px);
}

/* #menu */
#menu{
    max-width: 625px;
    width: 60%;
    margin: auto;
    gap: 1rem;
    font-size: .8rem;
}

/* recently_played */
#recently_played>.row>.col-2>.card>img{
    width: 100%;
}

/* #endregion main */
/********* #endregion page_top *********/

/********* #region page_bottom *********/
#page_bottom {
    height: 90px;
    z-index: 999;
    position: relative;
}

/********* #endregion page_bottom *********/

/********* #region media queries *********/

/* #region laptop */

@media screen and (max-width: 1200px) {
    
    .col-lg-3 {
        width: calc(100% / 12 * 3);
    }
}

/* #endregion laptop */

/* #region tablet */

@media screen and (max-width: 768px) {

    .col-md-6{
        width: 50%;
    }
}

/* #endregion tablet */

/* #region mobile */

@media screen and (max-width: 475px) {

    /* #side_bar */
    #side_bar {
        width: 50px;
    }

    .side_bar_lg{
        display: none;
    }

    /* main */
    main{
        width: calc(100vw - 50px);
    }
}

/* #endregion mobile */

/********* #endregion media queries *********/

/* #region debug */
.debug #side_bar {
    background-color: blue;
}

.debug main {
    background-color: green;
}

.debug #upgrade{
    background-color: rgba(0, 0, 0, 0.218);
}

.debug #page_bottom {
    background-color: red;
}

/* #endregion debug */

/* #region colors */
:root {
    --sw-white: #ffffff;
    --sw-black: #000000;
    --sw-primary: #141922 --sw-light: #c1c1c1;
    --sw-dark: #282828;
    --sw-dark-soft: #727479;
}

/* #endregion colors */