* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* passando ad un computer più piccolo mi sono reso conto di un bug: il mio html, la mia pagina per intera, presenta uno spazio bianco sottostante, che dal computer principale non è visibile, riesco a togliere questo spazio bianco dando all'html un overflow:hidden; ma non so da cosa dipenda
CHIEDI AL MAIN TEACHER O A UN TUTOR */
html {
    overflow: hidden;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    padding: 1rem;
}

.container_sm {
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding: .9rem;
}

.col-8 {
    width: calc(100% / 12 * 8);
}

a {
    text-decoration: none;
}

/* utilities */
.ta-center {
    text-align: center;
}

.px_2 {
    padding-bottom: 1rem;
}

.p_0 {
    padding: 0;
}

/* .p_0 {
    padding: 0;
} */

/* flex */
.d-flex {
    display: flex;
}

.jc-end {
    justify-content: end;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.fd-column {
    flex-direction: column;
}

.ai-center {
    align-items: center;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

/**************** Desktop First ****************/

/********* #region page_top *********/
/* #region side_bar */
#side_bar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: var(--sw-black);
    color: var(--sw-dark-soft);
}

.side_bar_lg {
    height: 100%;
}

.logo_desktop {
    width: 70%;
    padding-bottom: 1rem;
}

li {
    list-style: none;
    padding-bottom: 10px;
}

.home_lg {
    position: relative;
}

ul>li>a:hover,
.add_playlist:hover,
.personal_playlist>ul>li:hover,
.install:hover {
    filter: brightness(10);
}

ul>li>a,
.add_playlist,
.personal_playlist>ul>li,
.install {
    transition: .3s;
}

.vertical_underline {
    height: 30px;
    background-color: var(--sw-success);
    width: 3px;
    position: absolute;
    left: -1rem;
    border-radius: 50px;
}

#side_bar li>a {
    color: var(--sw-dark-soft);
    font-size: .9rem;
}

#side_bar li>a>img {
    width: 1.8rem;
    filter: invert(0.4);
    padding-right: .3rem;
}

.playlist {
    padding: .6rem 0;
}

.playlist .title {
    color: var(--sw-white);
    padding-bottom: .5rem;
}

.add_playlist {
    gap: .5rem;
    font-size: .9rem;
    font-weight: 500;
}

.btn_add {
    width: 25%;
    aspect-ratio: 1;
    background-color: var(--sw-light);
    color: var(--sw-black);
    position: relative;
}

.btn_add>.fa-solid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.personal_playlist {
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 2;
    height: 15rem;
    overflow: auto;
}

/* side_bar_bottom */
.install {
    gap: .5rem;
    font-size: .8rem;
}

.install_icon>img {
    width: 1.3rem;
}

#line {
    height: 1px;
    background-color: var(--sw-dark-soft);
    margin: .3rem 0;
}

.profile {
    gap: .5rem;
    padding-top: .5rem;
}

.profile_icon {
    background-color: var(--sw-dark-soft);
    border-radius: 50%;
    padding: 2px;
    width: 1.9rem;
    aspect-ratio: 1;
    position: relative;
}

.profile_icon>img {
    width: 1.3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.profile_name {
    color: var(--sw-white);
    font-weight: 700;
}

/* #endregion side_bar */

/* #region main */
main {
    background-color: var(--sw-primary);
    overflow: auto;
    width: 100%;
    height: calc(100vh - 90px);
}

/* #upgrade */
#upgrade {
    padding: 1rem 15px;
    position: sticky;
    top: 0;
    background-color: rgba(20, 11, 11, 0.449);
    z-index: 1000;
}

.btn {
    color: var(--sw-white);
    background-color: rgba(20, 11, 11, 0.449);
    border: 1px solid var(--sw-white);
    padding: .7rem 3rem;
    border-radius: 30px;
    font-size: .9rem;
    text-decoration: none;
    transition: .3s;
}

.btn:hover {
    scale: 1.1;
}

/* /.upgrade */

main img {
    width: 100%;
}

main h2 {
    padding: 1rem;
}

main h4,
main h2 {
    color: var(--sw-white);
}

main h2+div,
main h4+div {
    color: var(--sw-dark-soft);
}

#create_for h2+div,
#popular_artists h2+div {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

main h4+div {
    padding-top: .5rem;
}

main h4 {
    padding-top: 1rem;
}

.card {
    position: relative;
}

.square {
    background-color: rgba(0, 0, 0, 0.351);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.square>.fa-regular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}

.square {
    display: none;
}

.card:hover .square {
    display: block;
}

/* #menu */
#menu {
    max-width: 625px;
    width: 60%;
    margin: auto;
    gap: 1rem;
    font-size: .8rem;
}

#menu a {
    color: var(--sw-dark-soft);
    font-weight: 600;
    transition: .3s;
}

#menu a:hover {
    color: var(--sw-white);
}

.underline {
    width: 50%;
    margin: auto;
    padding-top: 5px;
    border-bottom: 2px solid var(--sw-success);
}

/* #prova_underline{
    border-bottom: 2px solid var(--sw-success);
    border-bottom-style
} */

/* popular_artists */
#popular_artists img,
#popular_artists .square {
    border-radius: 50%;
}

/* #endregion main */
/********* #endregion page_top *********/

/********* #region page_bottom *********/
#page_bottom {
    height: 90px;
    /* z-index: 999; */
    position: relative;
    background-color: var(--sw-dark);
    color: var(--sw-white);
}

.song{
    padding-left: 10px;
    
}

.song_image{
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}

.song_image>img{
    width: 100%;
}

.icon_current_song{
    gap: 1rem;
}

/********* #endregion page_bottom *********/

/********* #region media queries *********/

/* #region laptop */

@media screen and (max-width: 1200px) {

    .col-lg-3 {
        width: calc(100% / 12 * 3);
    }

    .col-lg-6 {
        width: 50%;
    }
}

/* #endregion laptop */

/* #region tablet */

@media screen and (max-width: 768px) {

    .col-md-6 {
        width: 50%;
    }

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }
}

/* #endregion tablet */

/* #region mobile */

@media screen and (max-width: 475px) {

    /* #side_bar */
    #side_bar {
        width: 50px;
    }

    .side_bar_lg {
        display: none;
    }

    .side_bar_sm {
        height: 100%;
    }

    .home_sm {
        padding-top: 6px;
    }

    .home_sm,
    .search_sm,
    .library_sm {
        scale: .9;
        filter: invert(0.4);
    }

    /* .side_bar_top */
    .logo_sm>img {
        width: 100%;
    }

    .install_icon_sm>img {
        padding-right: 5px;
        width: 2rem;
    }

    .profile_icon_sm {
        background-color: var(--sw-dark-soft);
        border-radius: 50%;
        padding: 2px;
        width: 1.9rem;
        aspect-ratio: 1;
        position: relative;
        margin-bottom: .5rem;
    }

    .profile_icon_sm>img {
        width: 1.3rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .home_sm:hover,
    .search_sm:hover,
    .library_sm:hover {
        filter: brightness(10);
    }

    .home_sm,
    .search_sm,
    .library_sm {
        transition: .3s;
    }

    /* main */
    main {
        width: calc(100vw - 50px);
    }

    /*** #page_bottom ***/

    /* .col-sm-4 {
        width: calc(100% / 12 * 4);
    } */
}

/* #endregion mobile */
/********* #endregion media queries *********/

/* #region debug */
.debug #side_bar {
    background-color: blue;
}

.debug main {
    background-color: green;
}

.debug #upgrade {
    background-color: rgba(0, 0, 0, 0.218);
}

.debug #page_bottom {
    background-color: lightcoral;
}

.debug .col-2 {
    background-color: lightgoldenrodyellow;
}

.debug .col-8 {
    background-color: lightblue;
}

/* #endregion debug */

/* #region colors */
:root {
    --sw-white: #ffffff;
    --sw-black: #000101;
    --sw-primary: #151822;
    --sw-light: #c1c1c1;
    --sw-dark: #282929;
    --sw-dark-soft: #727479;
    --sw-success: #adfe2e;
}

/* #endregion colors */